.dialog {
  position: fixed;
  display: block;
  inset-inline-start: 0px;
  inset-inline-end: 0px;
  height: fit-content;
  width: fit-content;
  max-height: 90dvh;
  border: none;
  border-radius: 24px;
  corner-shape: squircle;
  background-color: var(--bg-color);
  color: var(--main-color);
  margin-block: auto;
  margin-inline: auto;
  padding: 1rem;
  scale: 0;
  visibility: collapse;
  transition: scale var(--ease-200), visibility var(--ease-200), overlay var(--ease-200) allow-discrete;

  &[open] {
    scale: 1;
    visibility: visible;
  }

  &::backdrop {
    background-color: color-mix(in srgb, var(--shadow-dark-color) 40%, transparent);
    transition: opacity var(--ease-200);
    opacity: 0;
    backdrop-filter: blur(4px);
  }

  &[open]::backdrop {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}

.dialog-content {
  overflow-y: auto;
  max-height: calc(90dvh * 0.7);
  margin-block-end: 2rem;
}

.close-button {
  display: block;
  width: 100%;
}

body:has(.dialog[open]) {
  overflow: hidden;
}
