:root {
  --outline-offset-0: 0;
  --outline-offset-1: 1px;
  --outline-offset-2: 2px;
  --outline-offset-3: 3px;
  --outline-offset-4: 4px;
  --outline-offset-5: 5px;

  --shadow-offset-0: 0;
  --shadow-offset-1: 1px;
  --shadow-offset-2: 3px;
  --shadow-offset-3: 5px;
  --shadow-offset-4: 7px;
  --shadow-offset-5: 9px;

  --text-input-padding-block: 0.5em;
  --text-input-padding-inline: 1em;
}
